.separator {
  display: flex;
  align-items: center;
  margin: 30px 0;

  hr {
    width: 100%;
    color: #e3e6e9;
  }

  span {
    margin: 0 5px;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    color: #bec5cc;
  }
}
